* {
    box-sizing: border-box;
    margin: 0;
}

nav .nav-item {
    padding: 0 !important;
}

nav .nav-item:hover {
    border-bottom: 2.5px solid black;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url("./src/images/istockphoto-1638299318-1024x1024.jpg");
    background-repeat: none;
    background-size: cover;

}

.logo {
    font-family: "Edu SA Beginner", cursive;
}

.con {
    position: absolute;
    width: 100%;
    left: 0;
    transform: translate(-100%, -20%);

}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    /* RGBA overlay */
    z-index: 1;
}

.bg {
    z-index: -1;
}

.temma {
    color: white;
    z-index: 1;
}

.text {
    font-size: 4rem;
    font-weight: 300;
}

.text:hover {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.t-btn {
    background-color: white;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.5s;
}

.m-btn {
    border-radius: 10px;
}

.t-btn:hover {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    color: white !important;
}

.blur {
    background: rgba(0, 0, 0, 0.1);
    /* must be transparent */
    backdrop-filter: blur(10px);
    padding: 10px;
}

.count {
    position: absolute;
    bottom: 0;

}

.menu-head {
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3.5rem;
    font-style: normal;
}

.menu-sub {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
}

.img-house {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.menu {
    overflow: hidden;
}

.menu-list {
    padding: 20px;

}

.img-box {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border-radius: 10px; */

}

.exp {
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.about {
    overflow: hidden;
}

.footer li {
    list-style: none;
}

.round-img {
    width: 100px;
    height: 100px;
    background-color: #4caf50;
    border-radius: 50%;
}

form {
    overflow: hidden;
}

@media screen and (max-width:570px) {
    .text {
        font-size: 2rem;
        font-weight: 100;
    }

    .blur {
        border-radius: 15px;
    }

    .menu-head {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 1.5rem;
        font-style: normal;
    }
}